* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #34495e;
}

.logo {
    font-size: 24px;
    margin: 14px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
}

.menu li:hover {
    background-color: #48637e;
}

.toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    font-size: none;
    cursor: pointer;
}

@media (max-width:768px) {
    .toggle {
        display: block;
    }

    .menu {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: column;
        background-color: #2f3640;
        width: 100%;
    }

    .menu ul li {
        text-align: center;
    }

    .menu ul li a {
        padding: 12px 16px;
    }

    .menu.active {
        display: flex;
    }
}