* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #607680;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

#captchaText {
    background: url('OIP.jpeg');
    font-size: 30px;
    border: none;
    outline: none;
    margin-top: 15px;
    width: 150px;
    text-align: center;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#captchaEnter {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(97, 94, 94);
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#refreshButton {
    background-color: rgb(90, 104, 235);
    border: 3px solid rgb(90, 104, 235);
}

#checkButton {
    background-color: #66ff99;
    border: 3px solid #66ff99;
}

.btn {
    color: white;
    padding: 10px;
    width: 150px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}