* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mob-table {
    max-width: 800px;
    padding: 20px 25px;
    background-color: #fff;
    margin: 30px 0px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #435d7d;
    color: #fff;
    padding: 16px 30px;
}

.add {
    background-color: #5cb85c;
    color: white;
}

th {
    text-align: center;
    color: #566787;
}

.btn {
    padding: 3px 20px;
    min-width: 90px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}